
<br>
<br>
<br>

<fieldset class="scheduler-border">
    <legend class="scheduler-border">Choisir une oppération</legend>
    <div class="control-group">
        


        <div class="pretty p-default p-round">
            <input type="radio" name="radio1">
            <div class="state">
                <label>Envoyer du crédit</label>
            </div>
        </div>
    
        <div class="pretty p-default p-round">
            <input type="radio" name="radio1">
            <div class="state">
                <label>Envoyer du flouz</label>
            </div>
        </div>
    
        <div class="pretty p-default p-round">
            <input type="radio" name="radio1">
            <div class="state">
                <label>Forfait internet</label>
            </div>
        </div>



         
    </div>
</fieldset>

<ul class="pager">
    <li class="previous"> <input type="submit" value="Précédent" style="float: left;"></li>
    <li class="next"><input type="submit" value="Suivant" style="float: right;"></li>
</ul>