


<div class=" text-center">

    <br>
    <br>
    <br>
    <br>
    <div class="control-group">
         <div class="pretty p-default p-round">
            <input type="radio" name="radio1">
            <div class="state">
                <label>Transfert de crédit</label>
            </div>
        </div>
    
        <div class="pretty p-default p-round">
            <input type="radio" name="radio1">
            <div class="state">
                <label>Transfert de flouz</label>
            </div>
        </div>
    
        <div class="pretty p-default p-round">
            <input type="radio" name="radio1">
            <div class="state">
                <label>Forfait internet</label>
            </div>
        </div>
    </div>

    <br>
    <br>
    <div class="text-center mt-4">
            <button class="btn btn-primary" type="submit">Suivant</button>
     </div>


</div>
<!--/.Panel-->