<!--Panel-->
<div class="card text-center" style="height: 400px;">

    <nav class="navbar navbar-light blue lighten-4">
        <a class="navbar-brand" href="#">Restez proche de votre famille :)</a>
    </nav>

    
    <div class="control-group">
        


        <div class="pretty p-default p-round">
            <input type="radio" name="radio1">
            <div class="state">
                <label>Envoyer du crédit</label>
            </div>
        </div>
    
        <div class="pretty p-default p-round">
            <input type="radio" name="radio1">
            <div class="state">
                <label>Envoyer du flouz</label>
            </div>
        </div>
    
        <div class="pretty p-default p-round">
            <input type="radio" name="radio1">
            <div class="state">
                <label>Forfait internet</label>
            </div>
        </div>
    </div>

    <ul class="pager">
     <!--   <li class="previous"> <input type="submit" value="Précédent" style="float: left;"></li>  -->
        <li class="next"><input type="submit" value="Suivant" style="float: right;"></li>
    </ul>
</div>
<!--/.Panel-->