
		<div class="container">	
		  <app-header></app-header>
		</div>

	 <!--	<app-carousel></app-carousel> -->
		<div class="content-body">
			<div class="container">
				<div class="row">
					<main class="col-md-8">
						<article class="post post-1">
							<header class="entry-header">

								<!--
								<h1 class="entry-title">
									<a href="single.html">Restez proche de vos siens</a>
								</h1>
						  	-->
								<div class="entry-meta">
									<span class="post-category"><a href="#">Restez proche de vos siens</a></span>
	
									<span class="post-author"><a href="#">Saisie information</a></span>
			
									<span class="comments-link"><a href="#">Validation</a></span>

									<span class="comments-link"><a href="#">Payement</a></span>
								</div>
							</header>
							<app-choix-operation></app-choix-operation>						
							
							
						</article>
					</main>
					
		      <app-aside></app-aside>
				</div>
			</div>
		</div>
	  <app-footer></app-footer>

		<!-- Mobile Menu -->
		<app-mobile-menu></app-mobile-menu>