<aside id="aside" class="col-md-3">
  <!-- Search -->
  <div class="widget">
    <div class="widget-search">
      <input class="search-input" type="text" placeholder="search">
      <button class="search-btn" type="button"><i class="fa fa-search"></i></button>
    </div>
  </div>
  <!-- /Search -->

  <!-- Category -->
  <div class="widget">
    <h3 class="title">Category</h3>
    <div class="widget-category">
      <a href="#">Web Design<span>(7)</span></a>
      <a href="#">Marketing<span>(142)</span></a>
      <a href="#">Web Development<span>(74)</span></a>
      <a href="#">Branding<span>(60)</span></a>
      <a href="#">Photography<span>(5)</span></a>
    </div>
  </div>

</aside>
