<aside class="col-md-4">
  <div class="widget widget-recent-posts">		
    <h3 class="widget-title">Dernières actualités sur le Togo</h3>		
    <ul>
      <li>
        <a href="#">Actualité 1</a>
      </li>
      <li>
        <a href="#">Actualité 2</a>
      </li>
      <li>
        <a href="#">Actualité 3</a>
      </li>
    </ul>
  </div>
  <div class="widget widget-archives">		
    <h3 class="widget-title">Buz de Lomé</h3>		
    <ul>
      <li>
        <a href="#">Buz 1</a>
      </li>
      <li>
        <a href="#">Buz 2</a>
      </li>
      <li>
        <a href="#">Buz 3</a>
      </li>
    </ul>
  </div>
</aside>